<% unless @page_num.nil? %>
<h1>You are at page <%= @page_num %></h1>
<% else %>
<h1>Welcome a board! And don't misbehave! =)</h1>
<%= render 'content.html.erb'  %>
<% end %>

<% @page_num.to_i.times do %>
  <%= render 'content.html.erb'  %>
<% end %>